## SQL Basics: Simple WHERE and ORDER BY

For this challenge you need to create a simple SELECT statement that will return all columns from the people table WHERE their age is over 50

people table schema

- id

- name

- age

You should return all people fields where their age is over 50 and order by the age descending

NOTE: Your solution should use pure SQL. Ruby is used within the test cases to do the actual testing.

NOTE 2: Don't end your query with a semicolon.

SQL Solution below:

```
SELECT p.id, p.name, p.age
FROM people as p
WHERE p.age>50
ORDER BY p.age DESC
```

Alternatively, selecting all would work here as well.