## Easy SQL - Ordering

Your task is to sort the information in the provided table 'companies' by number of employees (high to low). Returned table should be in the same format as provided:

__companies table schema__

- id

- ceo

- motto

- employees

 
Solution should use pure SQL. Ruby is only used in test cases.

SQL Solution Below

```
SELECT c.employees, c.id, c.ceo, c.motto
FROM companies as c
ORDER BY c.employees desc
```

Alternatively, `SELECT *` could've been used.